#AppBodyHeader, #setupNavTree, .oleft, .ptBody>.links, .presence_chat_widget {
    display: none;
}

.bPageTitle {
    left: 0;
    position: fixed;
    top: 0;
}

.detailHeaderHighlightMsg {
    left: 100px;
    position: fixed;
    top: 0;
}

.pbTitle {
    visibility: hidden;
}

[id^="ApexClassEditPage:theTemplate:panelGrid"] {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

[id^="frame_ApexClassEditPage:theTemplate:theForm:thePageBlock:editor:codeeditor:buffer"] {
    height: 85vh;
}

body {
    background: none;
}

